.Lastname{
    margin-left: 2px;
}

.Salutation2{
    margin-bottom: 10px;
}
.Firstname{
    margin-bottom: 10px;
}
.Lastname{
    margin-bottom: 10px;
}
.Gender{
    margin-bottom: 10px;

}
.Male{
    margin-bottom: 10px;

}
.Email{
    margin-bottom: 15px;

}
.Date{
    margin-bottom: 10px;

}
fieldset{
    width: 500px;
}
body{
    position: relative;
    left: 400px;
    top: 80px;
}